/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003b7a;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Add a smooth transition effect */
}

nav a:hover {
    color: #838d92; /* Change the color on hover, adjust the color code as needed */
}
.container {
    display: flex;
}

main {
    flex: 4;
    padding: 20px;
}

h2 {
    font-size: 1.5em;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #003b7a;
    color: #fff;
    width:100%;
}

.profile-container {
    display: flex;
    align-items: center;
}

#profile-photo {
    width: 55px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

#profile-menu {
    display: none;
    position: absolute;
    top: 62px;
    right: 10px;
    width: 130px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#profile-menu ul {
    list-style-type: none;
    padding: 0;
}

#profile-menu li {
    padding: 10px;
    cursor: pointer;
}

#profile-menu li:hover {
    background-color: #0f9af7;
}

.profile-container:hover #profile-menu {
    display: block;
}

#profile-menu a {
    text-decoration: none; /* Remove underlines */
    color: #333; /* Set link color */
    display: block; /* Make the links block-level elements */
    padding: 10px;
}